# Auto detect text files and perform LF normalization
* text=auto
#include<iostream>
#include<string>
#include<algorithm>
using namespace std;

int main(){
	string n,str;
	cout<<"please write:";
	cin>>n;

	str.assign(n.rbegin(),n.rend());//赋值到str字符串
	cout << "  its reverse is: " << str<<".\n" ;
	return 0;
}
/*make some change*/
hello  world
hello 

是否会显示即时的数据改动
